header {
    width:100%;
    background-color: blue;
}
.column-1 {
    width:49%;
    /*float:left;*/
}
.column-2 {
    width:49%;  
    /*float:right;*/
}
.columns{
    display:inline-block;
    vertical-align:top;
}
footer {
    clear: both;
    background-color:gray;
    position: relative;
    bottom: 0px;
    width:100%; 
    margin-top:50px;
}